:root {
  --primary: #f472b6;
  --secondary: #fbbf24;
  --background: #fff7ed;
  --text: #374151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
}
